
.top-container::before {
    content: "";
    display: block;
    position: relative;
    width: 100vw;
    height: 380px;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

nav.w-max{
    margin: auto;
}